.dog-card {
  width: 60%;
  height: auto;
  border-radius: 10px;
  color: #d06;
  background-color: white;
  margin: 20px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 90%;
  max-height: 90%;
}

.back-button {
  width: 20%;
  height: auto;
  line-height: 70px;
  margin: 10px;
  background-color: #d06;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.back-button:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}

.img {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}
