.footer-app {
  background-color: #d06;
  border-radius: 15px;
  margin-top: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

p a {
  text-decoration: none;
}
